@model IEnumerable<Turma>
@{
    ViewData["Title"] = "Registrar Presenca";
}

@section Styles {
    <link rel="stylesheet" href="~/css/RegistrarPresenca.css" />
}
<style>
    .btn-voltar {
        background-color: black;
        color: white;
        border-radius: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 300px;
    }

    .container-centralizado {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tabelaInfo th,
    .tabelaInfo td {
        padding: 0.75rem 1.5rem;
    }
</style>

<h1 class="text-center m-5">Registro de Presença</h1>

<div class="container container-centralizado">
    <div>
        <table class="tabelaInfo">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Instrutor</th>
                    <th scope="col">Horário</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <h6>Carregando turmas...</h6>
                }
                @if (Model != null && Model.Any())
                {
                    foreach (Turma turma in Model)
                    {
                        <tr>
                            <th scope="col">@turma.Nome.ToString()</th>
                            <th scope="col">@turma.Instrutor.Nome.ToString()</th>
                            <th scope="col">@turma.Horario.ToString()</th>
                            <td>
                                <div class="btn-group" role="group">
                                    @if (User.IsInRole("Admin") | User.IsInRole("Instrutor"))
                                    {
                                        if (turma.Status == 1)
                                        {
                                            <a role="button" style="border-radius: 20px;" class="btn btn-danger m-2" asp-route-id="@turma.Id" asp-controller="RegistrarPresenca" asp-action="LancarPresenca">Lançar Presença</a>
                                            <a role="button" style="border-radius: 20px;" class="btn btn-danger m-2" asp-route-id="@turma.Id" asp-controller="RegistrarPresenca" asp-action="Historico">Histórico</a>
                                        }
                                        else
                                        {
                                            <a role="button" style="border-radius: 20px;" class="btn btn-danger m-2" asp-route-id="@turma.Id" asp-controller="RegistrarPresenca" asp-action="Historico">Histórico</a>
                                        }
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-dark m-4" style="border-radius: 20px; width:100px" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
@{
}
